/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

body {
   font-size: 20px !important;
}

li {
  h3, h4 {
  margin-top:.05rem !important;
  margin-bottom:.05rem !important;
  }
  .post-meta-description {
    color: rgb(88, 88, 88);
    font-size: 20px !important;
    margin-top:.05rem !important;
    margin-bottom:.05rem !important;
  }
}
main.page-content {
   background: linear-gradient(to right, #d7d2cc 0%, #304352 100%) !important;
}

div.wrapper {
   background-color: #F4F6F7;
   padding-top: 1px;
}
